recursive-include anomaly-detector/*.pyx
recursive-include anomaly-detector/*.c
recursive-include anomaly-detector/*.h
recursive-include anomaly-detector/*.py
recursive-include anomaly-detector/*.txt
recursive-include anomaly-detector/anomaly_detector/univariate/*
include setup.py